.header-section {
    background-color: #3d494b;
    margin-top: 10px;
}

.header-img {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*sidebars*/

.main-sidebars {
    margin: auto;
    margin-top: 10px;
}


.sidebar {
    margin: auto;
    padding: 10px;
    background: #151512;
    background: -webkit-linear-gradient(#151512, #4a4a43);
    background: -o-linear-gradient(#151512, #4a4a43);
    background: -moz-linear-gradient(#151512, #4a4a43);
    background: linear-gradient(#151512, #4a4a43);
}

.sidebar-edit {
    padding: 0;
    margin: 0;
}

.header-description {
    color: white;
    margin: auto;
    margin-bottom: 3px;
    text-decoration: underline;
}

.p-description {
    color: white;
    margin: auto;
}

.header-contact {
    color: white;
    padding: 2px;
}

.label-contact {
    color: white;
}

/*main*/


.main-edit {
    margin-left: 10px;
}

.shkall-edit {
    margin: auto;
    max-width: 75%;
    max-height: 75%;
}

/*modal in main*/

.btn-modal {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.close-btn {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: auto;
    height: auto;
    color: black;
    background-color: aqua;
}

/*Footer*/

.footsy {
    margin: auto;
    margin-top: 15px;
}

.footerImg {
    padding: 15px;
}

.fa {
    margin: 10px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-youtube {
    color: #c32f10;
}

.fa-instagram {
    color: #ffffff;
}

.socialWrapper {
    margin: auto;
    margin-left: 5px;
}

.footer-ls {
    margin: auto;
    color: white;
    padding-left: 20%;
    padding-top: 50px;
    margin-top: 30px;
}

.footer-ls ul {
    list-style: none;
}

.footer-ls ul li {
    font-size: 20px;
    line-height: 1.5;
}

.rights-footsy {
    margin: auto;
    text-align: center;
    color: #FFD700;
}

.rights-footsy h6 {
    font-size: 25px;
}

.rights-footsy a {
    text-decoration: none;
    color: aqua;
}

.Shkarko {
    color: white;
}

.fb-frame {
    display: block;
    margin: auto;
    padding-top: 5px;
}

@media screen and (max-width: 680px) {
    .rights-footsy h6 {
        font-size: 18px;
    }
}
